HTML,BODY {
    width: 380px;
    height: auto;
    margin: 0;
    padding: 0;
}

.controls {
    widows: 100%;
    height: 50px;
    padding-left: 10px;
    margin: auto;
    line-height: 50px;
}

UL {
    height: auto;
    width: 350px;
    overflow-x: hidden;
    padding: 0;
}

LI {
    display: block;
    cursor: pointer;
    padding: 5px 10px;
    width: 350px;
    background: #ffffff;
    -webkit-transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
}

INPUT {
    border-radius: 3px;
    border: solid 1px #818181;
    padding: 5px 10px;
    outline: none;
    -webkit-transition: border 0.2s ease-in-out;
    -moz-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
}
INPUT:active {
    border: solid 1px #212121;
}

BUTTON {
    border-radius: 5px;
    border: solid 1px #919191;
    padding: 5px 10px;
    outline: none;
    color: #fff;
    background: #0DB6F6;
    -webkit-transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
}
BUTTON:hover {
    background: #11a5dd;
}

.hover {
    background: rgba(0,0,0,0.08);
}

.selected {
    background: rgba(0,0,0,0.2);
}
